/* #header {
    background: url("../../../public/back.jpg") no-repeat;
} */

body {
    /* background-image: url("../../../public/back.jpg"); */
    background-size: 100%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #cca3ff;
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #b1cdff;
}

.wrapper h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
}
.wrapper form {
    margin-top: 30px;
}
.wrapper form .input-box {
    height: 52px;
    margin: 18px 0;
}
form .input-box input {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    background-color: #d7f1ff;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #000000;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}
.but-box {
    text-align: center;
}

.but-box input {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    width: 70px;
    border-color: #cca3ff;
    border-radius: 10px;
    background: #90c0db;
}
